<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Daftar</servlet-name>
        <servlet-class>control.Daftar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>control.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>control.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Peminjaman</servlet-name>
        <servlet-class>control.Peminjaman</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kembali</servlet-name>
        <servlet-class>control.Kembali</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Daftar</servlet-name>
        <url-pattern>/Daftar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Peminjaman</servlet-name>
        <url-pattern>/Peminjaman</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kembali</servlet-name>
        <url-pattern>/Kembali</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
